@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Slab&display=swap');
$font-primary: 'Roboto', sans-serif;
$font-secondary: 'Roboto Slab', sans-serif;

$blue: #2baaec;
$white: #ffffff;
$inputgrey: #d3d3d34f;

$breakpoint-md:  768px;
$breakpoint-md-max-width: 720px;
$breakpoint-lg:  992px;
$breakpoint-lg-max-width: 960px;
$breakpoint-xl:  1200px;
$breakpoint-xl-max-width: 1140px;
$breakpoint-xxl: 1400px;
$breakpoint-xxl-max-width: 1320px;
@import "./breakpoints";