#user-info {
    .container {
        border-radius: 5px;
        background-color: $white;
        margin-top: 2rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
        box-shadow: 5px 10px 10px #00000032;
        
        #flip {
            text-align: center;
            font-weight: bold;
        }

        #panel {
            padding: 5px;            
            background-color: $white;

            #panel-info {
                @include md {
                    display: flex;
                }
            }
            
            label {
                font-weight: bolder;
                margin-right: 1rem;
            }
        }
        
        #panel {
            padding: 50px;
            display: none;
            
        }
        
    }

    
} 